@use "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Required first
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  --event-primary: var(--bs-primary);
  --event-secondary: var(--bs-secondary);
  --event-btn-bg: var(--bs-btn-bg);
  --event-btn-color: var(--bs-btn-color);
  --event-btn-hover-bg: var(--bs-btn-hover-bg);
  --event-btn-active-bg: var(--bs-btn-active-bg);
  --event-card-border-color: var(--bs-card-border-color);
  --event-btn-border-color: var(--bs-btn-border-color);
}

.btn-primary {
  --bs-btn-color: var(--event-btn-color, #fff) !important;
  --bs-btn-bg: var(--event-btn-bg, var(--bs-primary)) !important;
  --bs-btn-border-color: var(--event-btn-border-color, var(--bs-primary)) !important;
  --bs-btn-hover-color: var(--event-btn-hover-color, #fff) !important;
  --bs-btn-hover-bg: var(--event-btn-hover-bg, var(--bs-link-hover-color)) !important;
  --bs-btn-hover-border-color: var(--event-btn-hover-border-color, var(--bs-link-hover-color)) !important;
  --bs-btn-active-color: var(--event-btn-active-color, #fff) !important;
  --bs-btn-active-bg: var(--event-btn-active-bg, var(--bs-link-hover-color)) !important;
  --bs-btn-active-border-color: var(--event-btn-active-border-color, var(--bs-primary)) !important;
}

.card {
  border-color: var(--event-card-border-color, var(--bs-card-border-color)) !important;
}

// Components
@import "components/toast";
@import "frame/frame";
@import "event/zoom/overwrite";
@import "organizer/organizers";

// Bootstrap Icons Font
$bootstrap-icons-font-src: url("../assets/fonts/bootstrap-icons.woff2?30af91bf14e37666a085fb8a161ff36d") format("woff2"),
  url("../assets/fonts/bootstrap-icons.woff?30af91bf14e37666a085fb8a161ff36d") format("woff");
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

// Custom Styles
.modal-backdrop {
  z-index: 190;
}

button:disabled,
.btn-disabled,
.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

span,
i {
  &[class*="bi"] {
    font-size: 14px;

    &.bi--2xl {
      font-size: 28px;
    }

    &.bi--3xl {
      font-size: 36px;
    }

    &.bi--4xl {
      font-size: 48px;
    }

    &.bi--5xl {
      font-size: 54px;
    }

    &.bi--6xl {
      font-size: 60px;
    }
  }
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
  color: inherit;
}

i.bi {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.collapsed .bi-caret-right-fill {
  transform: rotate(0deg);
}

[aria-expanded="true"] .bi-caret-right-fill {
  transform: rotate(90deg);
}